@use '@angular/material' as mat;

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


$theme: mat.define-theme();

mat-toolbar.mat-primary {

  --mat-toolbar-container-text-color: #{mat.get-theme-color($theme, on-primary)};
  --mat-toolbar-container-background-color: #{mat.get-theme-color($theme, primary)};
}

